extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        h1 Add Pet
        p.lead Add a new pet to your collection
        br
        form(role='form', action="/add-pet",method="post", style='max-width: 300px;')
          .form-group
              input.form-control(type='text', name="name", placeholder='Pet\'s name')
          .form-group
            input.form-control(type='hidden', name="owner", value='#{user.username}')
          button.btn.btn-default(type='submit') Submit
          &nbsp;
          a(href='/')
            button.btn.btn-primary(type="button") Cancel
          br
          h4= info

  script
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });
