extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          if (!user)
            a(href="/login") Login
            br
            a(href="/register") Register
          if (user)
            p You are currently logged in as #{user.username}
            a(href="/logout") Logout
            if (pet)
              p This is where your pet #{pet.name} will live
              form(role='form', action="/pet/#{pet.name}",method="post", style='max-width: 300px;')
                .form-group
                  input.form-control(type='hidden', name="action", value='feed')
                button.btn.btn-default(type='submit') Feed
            else
              p This pet does not exist!

  script
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });
