extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          if (!user)
            a(href="/login") Login
            br
            a(href="/register") Register
          if (user)
            h1 #{user.username}'s current pets:

            ul
            each pet in pets
              li
                a(href="/pet/#{pet.url_name}") #{pet.name}

  script
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });
